@import "colors";

.nav-link {
  color: $yellow !important;
}
.bg-light {
  background-color: rgba($color: #fff, $alpha: 0.1) !important;
}
.header {
  border-bottom: 3px solid $blue;
}
.title {
  font-family: "Zen Tokyo Zoo", cursive !important;
  color: $yellow;
  font-size: 4rem;
  padding: 0.5rem 0;
  text-align: center;
}
.nav-link {
  text-transform: uppercase;
  font-family: "SairaStencilOne";
}
.btn-outline-success {
  color: $yellow;
  border-color: $blue;
}
.btn-outline-success:hover {
  background-color: rgba($color: #fff, $alpha: 0) !important;
  box-shadow: inset 0px 0px 10px 2px $blue;
  transition: ease 0.3s;
}
.form-control:hover {
  box-shadow: inset 0px 0px 10px 2px $blue;
  transition: ease 0.3s;
}
.navbar-toggler {
  background: $yellow;
}
